@import "@/sass/utils/index.scss";
@import "@/sass/common/common.scss";

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #060817;
  overflow-x: hidden !important;
  width: 100%;
}

body {
  margin: 0;
}

.col-0 {
  flex: 0 0 auto;
  width: 0%;
}

.ant-input{
  padding: 6px 12px !important;
}

.ant-select{
  height: 100% !important;
}

.ant-select-item{
  padding: 6px 12px !important;
}

.ant-table-filter-dropdown{
  .ant-input-affix-wrapper{
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    input{
      padding: 4px 8px !important;
    }
  }

  .ant-table-filter-dropdown-btns{
    .ant-btn-link{
      @include mixin-btn-negative-small;
    }

    .ant-btn-primary{
      @include mixin-btn-primary-small;
    }
  }
}

.ant-picker-cell-inner{
  min-width: 28px !important;
  height: 28px !important;
  line-height: 28px !important;
}

.--loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 80px;
  }

  svg path {
    --total-length: 136px;
    stroke-linecap: round;
    stroke-width: 6;
    stroke: $main-color;
    fill: none;
    stroke-dasharray: var(--total-length) var(--total-length);
    animation: animate 2s linear infinite;
  }

  @keyframes animate {
    0% {
      stroke-dashoffset: calc(-1 * var(--total-length));
    }

    30%,
    50% {
      stroke-dashoffset: 0;
    }

    80%,
    100% {
      stroke-dashoffset: var(--total-length);

    }
  }
}

.d-cursor{
  cursor: pointer;
}

.link-underline-none{
  text-decoration: none !important;
}

.ant-dropdown{
  .ant-dropdown-menu-title-content{
    text-align: start !important;
  }
}

.gap-1 {
  gap: 0.25rem; /* 4px */
}

.gap-2 {
  gap: 0.5rem; /* 8px */
}

.gap-3 {
  gap: 1rem; /* 16px */
}

.gap-4 {
  gap: 1.5rem; /* 24px */
}

.gap-5 {
  gap: 3rem; /* 48px */
}

// only popover
.ant-popover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid $gray-border;
}
.ant-popover::-webkit-scrollbar-track {
  background-color: $gray-border;
  opacity: 0.1 !important;
  border-radius: 4px;
  margin-left: 4px;
}
.ant-popover::-webkit-scrollbar-thumb {
  background: $sub-color;
  border-radius: 4px;
  animation: animate 2s infinite linear;
}

// carousel
.slick-slider{
  .slick-dots{
    li > button{
      background-color: $main-color !important;

      &::before{
        color: $main-color !important;
        left: 2.5px !important;
      }
    }
  }

  .slick-arrow{
    &::after{
      display: none !important;
    }
  }
}

// CanvasJs
.canvasjs-chart-credit{
  display: none !important;
}