@import "@/sass/utils/animate.scss";
@import "@/sass/utils/scroll-bar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #060817;
  overflow-x: hidden !important;
  width: 100%;
}

body {
  margin: 0;
}

.col-0 {
  flex: 0 0 auto;
  width: 0%;
}
