.main-container {
  position: 'relative';
  z-index: 0;
  width: 100vw;
  background-color: #060817;

  .not-found-wrapper {
    color: white;
    .not-found-content {
      margin-right: 70px;
      span {
        font-weight: 200;
      }
    }
  }
}

.btn-home {
  z-index: 9;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-float {
  animation: float 3s ease-in-out infinite;
}
