@import '@/sass/common/_common.scss';
@import '../../common.scss';

.--manage-user{

  .filter-select{
    .ant-select-selector{
      padding: 4px 12px !important;
    }
  }

  .--manage-user-table{
    tr > th:nth-last-child(2){
      min-width: 180px !important;
    }

    tr > th:nth-child(1){
      max-width: 160px;
    }

    tr > th:nth-child(2){
      max-width: 160px;
    }

    tr > th:nth-child(3){
      max-width: 300px;
    }

    tr > th:nth-child(4){
      max-width: 200px;
    }

    tr > th:nth-child(5){
      max-width: 200px;
    }

    tr > th:nth-child(6){
      max-width: 250px;
    }
  }
}
