@import "@/sass/common/_common.scss";

.content-box {
  padding: 0 16px;
  width: 100%;

  .ant-image{
    align-self: center !important;
    img{
      object-fit: cover !important;
      border-radius: 50% !important;
    }
    .ant-image-mask{
      border-radius: 50% !important;
    }
  }

  table{
    border: $gray-border 1px solid !important;

    td, th {
      border-inline-end-color: $gray-border !important
    }
    
    .ant-descriptions-item-label{
      font-weight: 600;
      background-color: $gray-row-hover !important;
    }
  }
}
