@import '@/sass/common/_common.scss';

.--profile-wrapper{
  overflow-y: auto;
  max-height: calc(100vh - 170px);

  .ant-input{
    padding: 8px 12px !important;
  }

  .profile-cover {
    position: relative;
  
    // @include ssm {
    //   width: 90%;
    // }
  
    // @include md {
    //   width: 60%;
    // }
  
    // @include xl {
    //   width: 40%;
    // }
  
    .avatar-cover {
      position: relative;
      .role {
        position: absolute;
        right: -25%;
        top: 10%;
      }
    }
  
    .editable-btn {
      position: absolute;
      // bottom: calc(4% + -1px);
      // right: 28%;
      bottom: calc(0.5% - 2.5px);
      right: 110px;
      transition-duration: 0.4s;
    }
  
    .loading {
      right: 130px !important;
      transition: all .3s ease-in-out;
    }
  }
  
  .password-cover {
    // @include ssm {
    //   width: 90%;
    // }
  
    // @include md {
    //   width: 60%;
    // }
  
    // @include xl {
    //   width: 40%;
    // }
  }
}

