@import "@/sass/common/common.scss";

.--skeleton-custom{
  .ant-skeleton-title{
    display: none;
  }
  
  .ant-skeleton-content{
    li{
      height: 40px !important;
    }
  }
}

.--table-cover{
  overflow: hidden;

  @include xs{
    max-height: calc(100vh - 80px - 48px - 40px - 104px - 104px) !important;
  }

  @media screen and (min-width: 468px) {
    max-height: calc(100vh - 80px - 48px - 40px - 52px - 52px) !important;
  }

  .ant-skeleton-paragraph{
    margin-top: 0 !important;
  }
}

.--manage-table {
  overflow-y: auto;
  overflow-x: auto;
  border-left: 1px solid $gray-border;
  border-right: 1px solid $gray-border;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @include xs{
    max-height: calc(100vh - 80px - 48px - 40px - 104px - 104px) !important;
  }

  @media screen and (min-width: 468px) {
    max-height: calc(100vh - 80px - 48px - 40px - 52px - 52px) !important;
  }

  .ant-table-filter-trigger{
    span{
      font-size: 16px !important;
      color: black !important;
    }
  }

  .ant-spin-nested-loading {
    margin-right: 1px;
    .ant-table-thead {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }

  th {
    white-space: nowrap;
  }

  tr > th:last-child {
    text-align: center !important;
  }

  tr > td {
    padding: 4px 12px !important;
    &:first-child span {
      padding: 12px !important;
    }
  }

  tr:nth-child(odd) {
    background-color: $gray-row-hover;
  }
}

.row-pagination{
  height: 36px;
  margin-top: 16px;

  .table-pagination {
    .ant-pagination-prev,
    .ant-pagination-next {
      @include xs{
        min-width: 36px !important;
        height: 36px !important;
      }
  
      @include sm{
        min-width: 36px !important;
        height: 36px !important;
      }
  
      button {
        padding: 3px !important;
      }
    }
  
    .ant-pagination-item {
      @include xs{
        min-width: 36px !important;
        height: 36px !important;
      }
  
      @include sm{
        min-width: 36px !important;
        height: 36px !important;
      }
  
      a {
        padding: 3px 6px !important;
      }
    }
  }
}

