.reset-password-wrapper {
  height: calc(100% - 40px);
  position: relative;

  .icon-email-wrapper {
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    margin-top: 100px;

    i {
      font-size: 28px;
      color: #cccccc;
    }
  }

  .content-wrapper {
    color: #cccccc;
    font-weight: 300;
  }
  .btn-send-link {
    background-color: #ed1651;

    font-weight: 700;
    border: none;

    &:hover {
      opacity: 0.9;
    }
  }

  strong {
    font-weight: 700;
    color: #ed1651;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    margin-left: 4px;
  }

  .back-to-login {
    cursor: pointer;

    font-weight: 700;

    i {
      margin-right: 12px;
    }

    a {
      text-decoration: none;
      color: white !important;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .license {
    margin-top: 220px;
  }
}

.form-control {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  line-height: 2.2;
  padding-left: 28px;
  border: 3px solid black;
  background-image: #e8f0fe;
  border-radius: 24px;
  &::placeholder {
    font-weight: 400;
    color: rgb(104, 103, 103);
  }

  &:focus {
    outline: none;
  }

  option {
    color: black;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 1.9;
    width: 100%;
    color: black;
    &::placeholder {
      font-weight: 400;
      color: grey;
    }
    margin-left: 12px;
  }

  button {
    width: 120px;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    border-left: 1px solid black;

    &:hover {
      color: #ed1651;
    }
  }
}
