.reset-password-wrapper {
  height: calc(100% - 40px);
  position: relative;

  .icon-email-wrapper {
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    margin-top: 100px;

    i {
      font-size: 28px;
      color: #cccccc;
    }
  }

  .content-wrapper {
    color: #cccccc;
    font-weight: 300;
  }
  .btn-send-link {
    background-color: #ed1651;

    font-weight: 700;
    border: none;

    &:hover {
      opacity: 0.9;
    }
  }

  strong {
    font-weight: 700;
    color: #ed1651;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    margin-left: 4px;
  }

  .back-to-login {
    cursor: pointer;

    font-weight: 700;

    i {
      margin-right: 12px;
    }

    a {
      text-decoration: none;
      color: white !important;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .license {
    margin-top: 220px;
  }
}
