@import '@/sass/common/common.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.detail-container-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}

.detail-container {
  position: fixed;
  top: 72px;
  left: 562px;
  background-color: $light;
  height: 90vh;
  width: 360px;

  border-radius: 16px;
  z-index: 999;
  font-size: 13px;
  color: $gray;
  font-family: '__Poppins_eb80d3', '__Poppins_Fallback_eb80d3' !important;
  max-width: 360px;
  animation: fadeIn 0.5s ease-in-out;

  .close-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1000;
    background-color: $light;
    top: 8px;
    right: 8px;
    border-radius: 50%;

    i {
      font-size: 22px;
      color: black;
    }

    &:hover {
      background-color: $gray-hover;
    }
  }
}

.detail-thumb {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.detail-content-wrapper {
  height: calc(100% - 240px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.detail-title {
  color: black !important;
}
.menu-tab-list {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $gray-border;
}

.menu-title {
  cursor: pointer;

  &:hover {
    background-color: $gray-hover;
  }
}

.active {
  color: $link-color;
  border-bottom: 3px solid $link-color;
}

.navigation-bar-business {
  height: 56px;
  font-size: 16px;
  color: black;
  i {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $gray-hover;
    }
  }
}

.business-nav-title {
  max-width: 255px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
