.process-bar-container {
  height: 20%;
}

.create-business-content {
  height: 80%;
}

.required-input {
  color: red;
  font-weight: 700;
}

.create-business-title {
  font-weight: 600;
  font-family: '__Poppins_eb80d3', '__Poppins_Fallback_eb80d3' !important;
}
