$header-height: 48px;

.auth-container {
  color: white;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    #160f29,
    #2b1e47,
    #3f2a6a,
    #ed1651,
    #4d3582,
    #5b3f98
  );

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .form-btn {
    width: 100%;
    line-height: 2.8;
    border-radius: 20px;
    border: none;
    background-color: #ed1651;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }
  }

  .sub-quote {
    position: absolute;
    right: 180px;
    bottom: 15px;

    height: 280px;
    width: 720px;
    // background-color: aqua;

    // border-radius: 0 0 32px 32px;

    .header {
      width: 85%;
      height: $header-height;

      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    .content {
      width: 100%;
      height: calc(100% - #{$header-height});
      background-image: linear-gradient(to top right, #ed1651 20%, #f8f8f8 80%);
      border-radius: 32px;
    }
  }

  .auth-wrapper {
    height: 88vh;
    width: 93%;
    background-color: rgba(6, 8, 23, 0.3);
    border-radius: 32px;
    padding: 48px;

    .content-wrapper {
      display: flex;
      height: 100%;

      .content-full {
        height: 100%;
        width: 100%;

        .logo-wrapper {
          img {
            height: 40px;
          }
        }
        .f-form {
          padding: 20px 72px 0 72px !important;
        }
        .form-wrapper {
          padding: 68px 72px 0 72px;

          @media (max-width: 768px) {
            padding: 68px 0 0 0;
          }

          form {
            margin-top: 48px;
            .form-label {
              margin-bottom: 20px;
            }
            .otp-wrapper {
              display: flex;
              align-items: center;

              .otp-btn {
                line-height: 2.2;
                width: 120px;
                height: 100%;
                margin-left: 24px;
                margin-bottom: 18px;
                font-size: 14px;
                background-color: #ed1651;
                border: none;
                border-radius: 16px;
                font-weight: 500;
              }
            }
            .form-control {
              color: white;
              margin-bottom: 20px;
              border-radius: 20px;
              border: none;
              line-height: 2.2;
              padding-left: 28px;
              border: 3px solid black;
              background-image: radial-gradient(#010101, #1f1b1c);
              &::placeholder {
                font-weight: 400;
                color: grey;
              }

              &:focus {
                outline: none;
              }

              option {
                color: black;
              }
            }
          }
        }
      }

      .content-left {
        height: 100%;
        width: 50%;

        @media (max-width: 1200px) {
          width: 100% !important;
        }
        .logo-wrapper {
          img {
            height: 40px;
          }
        }

        .form-wrapper {
          padding: 68px 72px 0 72px;

          @media (max-width: 768px) {
            padding: 68px 0 0 0;
          }

          form {
            margin-top: 48px;
            .form-label {
              margin-bottom: 20px;
            }
            input {
              color: white;
              margin-bottom: 20px;
              border-radius: 20px;
              border: none;
              line-height: 2.2;
              padding-left: 28px;
              border: 3px solid black;
              background-image: radial-gradient(#010101, #1f1b1c);
              &::placeholder {
                font-weight: 400;
                color: grey;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      .content-right {
        height: 100%;
        width: 50%;

        .header {
          height: $header-height;
          width: 85%;
          background-color: #0f0607;

          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
        }

        .content {
          height: calc(100% - #{$header-height});
          background-color: #0f0607;
          padding: 24px 48px 24px 48px;
          border-radius: 0 32px 32px 32px;
          position: relative;

          .quote-owner {
            font-weight: 600;
            margin-top: 36px;
          }

          .thumb {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 99;
          }

          .btn-wrapper {
            margin-top: 32px;

            button {
              margin-right: 12px;
              background-color: #11291c;
              height: 48px;
              width: 66px;
              border-radius: 8px;
              text-align: center;
              border: none;
              outline: none;

              &:hover {
                background-color: #ed1651;
              }
              i {
                color: white;
                font-size: 20px;
              }
            }
          }

          .quote {
            margin-top: 32px;
            font-size: 16px;
            font-weight: 300;
          }
          i {
            margin-top: 8px;
            font-size: 32px;
            color: rgb(100, 255, 218);
          }

          h1 {
            color: rgb(100, 255, 218);
          }
        }
      }
    }
  }
}
