@import "@/sass/common/common.scss";

.--manage-table {
  overflow-y: auto;
  overflow-x: auto;
  border-left: 1px solid $gray-border;
  border-right: 1px solid $gray-border;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  // max-width: 200px;

  .ant-spin-nested-loading {
    margin-right: 1px;
    .ant-table-thead {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }

  // @include x
  th {
    white-space: nowrap;
  }

  tr > th:last-child {
    text-align: center !important;
  }

  tr:nth-child(odd) {
    background-color: $gray-row-hover;
  }
}
