.--manage-table {
  overflow-y: auto;
  overflow-x: auto;
  // max-width: 200px;

  .ant-spin-nested-loading {
    margin-right: 1px;
    .ant-table-thead {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }

  // @include x
  th {
    white-space: nowrap;

    
  }

  tr > th:last-child{
    text-align: center !important;
  }
}
