@import '@/sass/common/_common.scss';

.content-box {
  padding: 0 16px;
  width: 100%;

  .ant-typography {
    display: block;
    font-weight: 500;
  }
}

.ant-modal-title{
  padding: 16px 16px 12px 16px !important;
}